
.language-main-grid {
    width: 100%;
    // padding: 10px;
    // height: 50vh;
    // border: 1px solid red;
}

.language-main-grid-tile {
    // border: 1px solid blue;
    // background-color: dodgerblue;
}

.language-main-card {
    width: 100%;
    // height: 100%;
    // background-color: burlywood;
}

.language-main-card-content {
    width: 100%;
}

.language-sub-grid {
    width: 100%;
    // height: 100%;
    // border: 1px solid red;
}

.language-sub-grid-tile {
    // border: 1px solid blue;
}

.language-sub-card {
    width: 100%;
    // padding: 10px;
    // border: 2px solid cadetblue;
    // background-color: cadetblue;
    // transform: skew(10deg);
}

.language-sub-card-content {
    // border: 2px solid yellow;
}

