<h1>Languages</h1>

<div *ngIf="languages == null">
    <p><em>Loading...</em></p>
</div>

<div *ngIf="languages != null">

    <mat-grid-list cols="4" class="language-main-grid">

        @for (language of languages; track language) {
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="language-main-grid-tile">

            <mat-card class="language-main-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{language.name}}</mat-card-title>
                        <mat-card-subtitle>{{language.description}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content class="language-main-card-content">
                    <mat-grid-list cols="2" class="language-sub-grid">

                        @for (lvl of language.level; track lvl) {
                        <mat-grid-tile [colspan]="1" [rowspan]="1" class="language-sub-grid-tile">

                            <mat-card class="language-sub-card">
                                <mat-card-header>
                                    <mat-card-title-group>
                                        <mat-card-title>{{lvl.medium}}</mat-card-title>
                                    </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content class="language-sub-card-content">
                                    <p>{{lvl.proficiency}}</p>
                                </mat-card-content>
                            </mat-card>

                        </mat-grid-tile>
                        }
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        }
    </mat-grid-list>
</div>







<!--


<div *ngIf="languages != null" class="container-fluid">

    <mat-grid-list cols="2" rowHeight="100px" class="language-grid">
        @for (language of languages; track language) {
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="language-grid-tile">

            <mat-card class="language-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{language.name}}</mat-card-title>
                        <mat-card-subtitle>{{language.description}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content class="content">

                    <span class="card-text">Spoken: {{language.spoken}}</span>

                    <span class="card-text">Written: {{language.written}}</span>

                </mat-card-content>
            </mat-card>

        </mat-grid-tile>
        }
    </mat-grid-list>

</div> -->
