<h1>Achievements</h1>

<div *ngIf="(achievements == null)">
    <p><em>Loading...</em></p>
</div>

<div *ngIf="(achievements != null)">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Beneficiary</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let achievement of achievements">
                    <td>{{achievement.title}}</td>
                    <td>{{achievement.beneficiary}}</td>
                </tr>
        </tbody>
    </table>
</div>
