<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">

        <app-my-logo [logoRoute]="branding.logo_route" [logoPath]="branding.logo_path" ></app-my-logo>

        <h1 class="text-white">
            <a [routerLink]="branding.name_route"
                class="text-white"
                *ngIf="currentURL == '/' || currentURL == '/home'">{{branding.name}}</a>
        </h1>

        <app-social-network></app-social-network>

      </div>
      <!-- Container wrapper -->

    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->
