<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 bg-dark">
        <a routerLink="/"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true">
          <i class="fas fa-house fa-fw me-3"></i><span>Home</span>
        </a>
        <a routerLink="/about-me" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa fa-user fa-fw me-3"></i><span>About Me</span>
        </a>
        <a routerLink="contact-me" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa-regular fa-address-card fa-fw me-3"></i><span>Contact Me</span></a
        >
        <a routerLink="skills" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa-solid fa-toolbox fa-fw me-3"></i><span>Skills</span></a
        >
        <a routerLink="languages" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-solid fa-comments fa-fw me-3"></i><span>Languages</span>
        </a>
        <a routerLink="major-achievements" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa-solid fa-trophy fa-fw me-3"></i><span>Major Achievements</span></a
        >
        <a routerLink="portfolio" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa-solid fa-folder-tree fa-fw me-3"></i><span>Portfolio</span></a
        >
        <a routerLink="experiences" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa-solid fa-briefcase fa-fw me-3"></i><span>Experiences</span></a
        >
        <a routerLink="academics" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa-solid fa-graduation-cap fa-fw me-3"></i><span>Academics</span></a
        >
        <!-- <a routerLink="cover-letter" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-users fa-fw me-3"></i><span>Cover Letter</span></a
        > -->
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->a
      <button data-mdb-button-init
        class="navbar-toggler"
        type="button"

      >


      <!-- data-mdb-collapse-init
      data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation" -->

        <!-- <i class="fas fa-bars"></i> -->
        <i class="fab fa-facebook-f"></i>
      </button>b

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="25"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>


      <!-- Right links -->
      <!-- Section: Social media -->
      <ul class="navbar-nav ms-auto d-flex flex-row">

        <!-- Linkedin -->
        <li class="nav-item">
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>

        <!-- Github -->
        <li class="nav-item">
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-github"></i>
          </a>
        </li>

        <!-- Google -->
        <li class="nav-item">
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-google"></i>
          </a>
        </li>

        <!-- Facebook -->
        <li class="nav-item">
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>

        <!-- Twitter -->
        <li class="nav-item">
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <!-- Instagram -->
        <li class="nav-item">
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-instagram"></i>
          </a>
        </li>

      </ul>
      <!-- Section: Social media -->

    </div>
    <!-- Container wrapper -->

  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <router-outlet />
  </div>
</main>
<!--Main layout-->



<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © {{ currentYear }} Copyright: Saqib M. Abbasi
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
