<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 bg-dark">
        <div class="list-group-item list-group-item-action py-2 ripple"
            *ngFor="let sideNav of sideNavigation">
            <a [routerLink]="sideNav.url" [title]="sideNav.title">
                <i [class]="sideNav.icon"></i>
                <span>{{sideNav.name}}</span>
            </a>
        </div>
      </div>
    </div>
</nav>
<!-- Sidebar -->
