<!-- Right links -->
<!-- Section: Social media -->


<button mat-icon-button class="icon favorite-icon" aria-label="icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="icon" aria-label="icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>


<ul class="navbar-nav ms-auto d-flex flex-row">

    <li class="nav-item" *ngFor="let socialNetwork of socialNetworkLinks">
        <a mdbRipple
                *ngIf="socialNetwork.url != ''"
                class="btn btn-outline-light btn-floating m-1"
                [externalLink]="socialNetwork.url"
                [title]="socialNetwork.title"
                role="button">
            <i [class]="socialNetwork.icon"></i>
        </a>
    </li>

</ul>
<!-- Section: Social media -->
