<h1>Experiences</h1>

<div *ngIf="(experiences == null)">
	<p><em>Loading...</em></p>
</div>

<div *ngIf="(experiences != null)">
	<table class="table">
		<thead>
			<tr>
				<th>companyName</th>
				<th>designation</th>
				<th>fromDate</th>
				<th>toDate</th>
				<th>Tasks</th>
			</tr>
		</thead>
		<tbody>
            <tr *ngFor="let experience of experiences">
                <td>{{experience.companyName}}</td>
                <td>{{experience.designation}}</td>
                <td>{{experience.fromDate}}</td>
                <td>{{experience.toDate}}</td>
                <td>
                    <ul>
                        <li *ngFor="let task of experience.tasks">{{task.task}}</li>
                    </ul>
                </td>
            </tr>
		</tbody>
	</table>
</div>
