<div *ngIf="allSkills == null">
    <p><em>Loading...</em></p>
</div>

<div *ngIf="allSkills != null" class="container-fluid">

    <mat-card class="card" *ngFor="let allSkill of allSkills">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{allSkill.type}}</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="100px">
                @for (skill of allSkill.skills; track skill) {
                <mat-grid-tile [colspan]="1" [rowspan]="1">

                    <mat-card class="skill-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>{{skill.name}}</mat-card-title>
                                <mat-card-subtitle>{{skill.level}}%</mat-card-subtitle>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content class="content">
                            <mat-progress-bar mode="determinate"
                                    [value]="skill.level"
                                    class="skill-progress"
                                    >
                                </mat-progress-bar>
                        </mat-card-content>
                    </mat-card>

                </mat-grid-tile>
                }
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
